/* 
 _________________________________________________________
|                                                         |
|    DESIGN + http://fullahead.org                        |
|      DATE + 2005.05.12                                  |
| COPYRIGHT + free use if this notice is kept in place    | 
|_________________________________________________________|

*/





/* -- Main layout styles -- */


    
    body {
    margin: 1em 1em 1em 1em;
    padding: 0px;
    font-family: verdana, sans-serif;
    font-size: 1.0em;
    background-color: #333;  
    }

    #siteBox {
        float: left;
        width: 100%;
        color: #FFF;
    }
    /* -- Header layout/display styles -- */

    #header {
        float: left;
        width: 100%;
        height: 4em;
        background: #25509F url(../images/template/hdr.jpg) no-repeat bottom left;
    }

    #header a {
        float: right;
        width: 10em;
        padding: 5px 10px 5px 10px;
        font-size: 0.6em;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        color: #FFF;
        background-color: #666;
        border-bottom: 2px solid #333;
        border-right: 1px solid #333;
        border-left: 1px solid #333;
    }

    #header a:hover, #header a.active {
        padding-top: 10px;
        background-color: #333;
    }

    #header a.lastMenuItem {
        background-image: url(../images/template/corner_tr.gif);
        background-repeat: no-repeat;
        background-position: top right;
        border-right: 0px;
    }

    a .desc {
        display: none;
        text-transform: lowercase;
        color: #66ccff;  
    }

    a:hover .desc, .active .desc {
        display: block;
    }

    /* -- Header title and subTitle layout/display styles -- */
    .title {
        float: left;
        padding: 1em 30px 0 2em;
        font-size: 1.4em;
        font-weight: bold;
        text-transform: uppercase;
        text-align: right;
        line-height: 0.75em;
        letter-spacing: -0.15em;
        color: black;
    }

    .subTitle {
        display:compact;
        font-size: 0.4em;
        text-transform: none;
        line-height: 1em;  
        letter-spacing: 0.1em;
        text-align:end;
    }

    /* -- Content layout/display styles -- */
    #content {
        float: left;
        width: 100%;
        padding: 1em 0 1em 0;
        //background-color: #666;
        background-image: url(../images/template/back3.jpg);
        //background-repeat: no-repeat;
        background-size: 100%;
    }

    #contentLeft {
        float: left;
        margin-bottom: 1em;
        background: #777 url(../images/template/corner_sub_tr.gif) no-repeat top right;
        background-color: rgba(74,76,77,0.70);
    }

    #contentRight {
        float: right;
        width: 75%;
        background: #777 url(../images/template/corner_sub_tl.gif) no-repeat top left;
        background-color: rgba(74,76,77,0.70);
    }

    #content p {  
        margin: 1.2em 1.2em 2em 1.2em;
        font-size: 0.8em;
        line-height: 1.8em;
    }

    #content form {  
        margin: 1.2em 1.2em 2em 1.2em;
        font-size: 0.8em;
        line-height: 1.8em;
    }

    #content a {  
        text-decoration: none;
        color: #66ccff;
        border-bottom: 1px solid #AAA;
    }

    #content a:hover {
        color: #DDD;
        background-color: #888;
        border-bottom: 1px solid #EEEEEE;
    }

    .header, .subHeader {
        display: block;
        clear: both;  
        font-weight: bold;
        font-size: 2em;
        color: #66ccff;
        border-bottom: 1px solid #AAA;    
    }

    .subHeader {
        border: 0px;
        font-size: 1.5em;
        font-weight: lighter;
    }

    .headerComplement{
        font-size: medium;
        color: khaki;
        font-weight: normal;
    }

    .headerComment{
        font-weight: bold;
        font-size: 1em;
        color: #0AD;
    }

    .textComment{ 
        font-weight: normal;
        font-size: 1em;
        color: darkorange;
    }

    .headerTable{
        font-size: 150%;
        font-family: verdana, sans-serif;
        color: #66ccff;
        text-align: center;
        font-style: oblique;
        font-weight: normal;
    }

    .contentTable{
        color: #ff9900;
        text-align: center;
    }

    /* -- Content left site links (large plus icon) -- */
    #content a.menuItem {
        display: block;  
        padding: 5px 0 5px 54px;
        background: url(../images/template/icn_plus.gif) no-repeat center left;
        border: 0px;
    }

    #content a:hover.menuItem { 
        color: #66ccff;
        background: #888 url(../images/template/icn_plus_on.gif) no-repeat center left;
        border: 0px;
    }

    /* -- Footer layout/display styles -- */
    #footer {
        float: left;
        width: 100%;
        height: 3em;
        font-size: 0.6em;
        text-transform: lowercase;
        line-height: 2.6em;
        color: #0AD;
        background: #25509F url(../images/template/hdr.jpg) repeat-y top left;
    }

    #footerLeft {
        float: left;
        width: 60%;
        height: 3em;
        text-align: left;
        background: url(../images/template/corner_bl.gif) no-repeat bottom left;
    }

    #footerRight {
        float: right;
        width: 35%;
        height: 3em;
        text-align: right;
        background: url(../images/template/corner_br.gif) no-repeat bottom right;
    }

    #footer a {
        color: #0AD;
    }

    #footer a:hover {
        color: #66ccff;
    }
    
    /* -- Display formatting styles -- */
    .grey {
        font-size: 0.9em;
        color: #AAA;
    }

    .white {
        font-size: 1.7em;
        color: #66ccff;
    }

    acronym {
        cursor: help;
        border-bottom: 1px dotted #AAA;
    }

    /* -- <ul> tag styles -- */
    ul{
        font-size: 0.8em;
        padding-top: 5px;
        padding-bottom: 5px;
        list-style-image: url(../images/template/li_bullet.gif);
        }

    li {
        margin-left: 50px;
    }

    /* -- Image alignment classes -- */
    .imgLeft, .imgRight {
        margin: 5px;
    }

    .imgLeft {
        float: left;
        margin-left: 0px;
    }

    .imgRight {
        float: right;
        margin-right: 0px;
    }

    /* -- Utility classes to create the bottom rounded corners -- */
    .bottomCorner {
        text-align: right;
    }

    .vBottom {
        vertical-align: bottom;
    }

    .marco {
       BORDER-RIGHT: #999999 1px solid;
        PADDING-RIGHT: 8px;
        PADDING-LEFT: 8px;
        PADDING-BOTTOM: 8px;
        PADDING-TOP: 8px;
        BORDER-BOTTOM: #999999 1px solid;
        BACKGROUND-COLOR: #f5f5f5 
    } 

    .iconMenu {
       margin: 10px;
    } 
    
    #iconIndex {
       margin: 10px;
       width:200px;
       height:200px;
    } 

/*
@media all and (max-width:1250px) {
   #iconIndex {
        width:0px;
        height:0px;
    }
    
    body {
        //margin: 0.5em 0.5em 0.5em 0.5em;
        padding: 0px;
        //font-family: verdana, sans-serif;
        font-size: 2.0em;
        background-color: #333;  
    }
    
    #siteBox {
        float: left;
        //width: 100%;
        color: #FFF;
    }
    
    #header {
        float: left;
        width: 100%;
        height: 400px;
        background: #25509F url(../images/template/hdr_3.jpg) no-repeat left;
    }
    
    #header a {
        font-size: 0em;
    }
    #header .desc {
        font-size: 0em;
    }
    
    .title {
        float: left;
        padding: 0.5em;
        font-size: 3.1em;
        font-weight: bold;
        text-transform: uppercase;
        text-align: right;
        line-height: 0.75em;
        letter-spacing: -0.15em;
        color: black;
        text-shadow: -2px -2px 0px #fff, 2px -2px 0px #fff, -2px 2px 0px #fff, 2px 2px 0px #fff;
    }

    .subTitle {
        display:compact;
        font-size: 0.4em;
        text-transform: none;
        line-height: 1em;  
        letter-spacing: 0.1em;
        text-align:end;
    }
    
    // -- Content layout/display styles -- 
    #content {
        float: left;
        width: 100%;
        //padding: 1em 0 1em 0;
        //background-color: #666;
        background-image: url(../images/template/back3.jpg);
        //background-repeat: no-repeat;
        background-size: 100%;
    }

    #contentLeft {
        //float: left;
        background: #777 url(../images/template/corner_sub_tr.gif) no-repeat top right;
        //background-color: rgba(74,76,77,0.70);
    }
    
    #contentLeft .menuItem{
        float: left;
        width: 100%;;
        padding: 60px 0.5px 30px 0.5px;
        font-size: 2em;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        color: #FFF;
        background-color: #666;
        border-top: 2px solid #333;
        border-bottom: 2px solid #333;
        border-right: 2px solid #333;
        border-left: 2px solid #333;
    }
    
    #contentLeft .subHeader{
        font-size: 0em;
    }
    
    #contentLeft .header{
        font-size: 0em;
    }
    
    #contentLeft .info{
        font-size: 0em;
    }
       
    #datepicker {
        //position:relative;
        padding-left: 95px;
        // position:relative;
        margin-top:90px;
    }
    
    #contentLeft .ui-widget {
    font-size: 1.5em;
    height: 1222px;
    }
    
    #contentLeft .ui-datepicker-header .ui-widget-header .ui-helper-clearfix{
        
    }
    
    #contentLeft .ui-widget{
        font-size: 1.5em;
    }

    #contentLeft .Highlighted1 a{
        
        font-size: 1em;
    }
    
    #contentLeft .ui-widget-header {
       // position:relative;
        margin-top:550px;
       // height:100px;
    // position: relative; 
    //padding: .2em 0;
    }

    #contentRight {
        //padding-top:-100px;
        //float: right;
        width: 100%;
        background: #777 url(../images/template/corner_sub_tl.gif) no-repeat top left;
        background-color: rgba(74,76,77,0.70);
    }
    
    #content p {  
        margin: 1.2em 1.2em 2em 1.2em;
        font-size: 0.8em;
        line-height: 1.8em;
    }

    #content form {  
        margin: 1.2em 1.2em 2em 1.2em;
        font-size: 0.8em;
        line-height: 1.8em;
    }

    #content a {  
        text-decoration: none;
        color: #66ccff;
        border-bottom: 1px solid #AAA;
    }
    
    .header, .subHeader {
        display: block;
        //clear: both;  
        font-weight: bold;
        font-size: 3em;
        color: #66ccff;
        text-align: center;
        border-bottom: 1px solid #AAA;    
    }
    
    .prescind {
       font-size: 0em; 
    }

    .subHeader {
        border: 0px;
        font-size: 0.5em;
        font-weight: lighter;
    }

    .headerComplement{
        font-size: medium;
        color: khaki;
        font-weight: normal;
    }

    .headerTable{
        font-size: 100%;
        //font-family: verdana, sans-serif;
        color: #66ccff;
        text-align: center;
        //font-style: oblique;
        font-weight: normal;
    }

    .contentTable{
        font-size: 70px;
        color: #ff9900;
        text-align: center;
    }
    
    #textbienvenida{
       font-size: 0em;
    }
    
    #footer{
       font-size: 50px;
    }

} */

